.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #9d9d9d;
    color: white;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .logo a {
    text-decoration: none; /* Remove o sublinhado */
    color: white; /* Define a cor do texto */
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
  }
  
  .nav a:hover {
    text-decoration: underline;
  }
  