
.container {

    max-width: 800px;
    margin: 50px auto 0;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }
  
  .bodyCards {
    padding: 10px 5px 0;
  }
   .subnivel {
    margin-left: 50px;
  }

  .divCard {
    padding: 10px;
    display: flex;
    align-items: center;
    margin: 10px;
    height: 100%;
    width: 140px;
    background-color: #fff;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.326);
    background: rgba(228, 228, 228, 0.2);
    font-weight: bold;
    border-radius: 5px;
  }

  .title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .button {
    display: block;
    width: 100%;
    margin-top: 20px;
  }
  
  .disabled {
    pointer-events: none;
    opacity: 0.5; /* Ajuste a opacidade conforme necessário */
  }
  
  .button:not(.disabled):hover {
    color: white; /* Cor do texto ao passar o mouse */
  }
  
  .input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }